body {
  --body-color: theme("colors.neutral.600");
  color: var(--body-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  --headings-color: theme("colors.neutral.950");
  color: var(--headings-color);
  font-weight: 600;
}
